<div class="setting">
  <h1 class="setting__title">Configurações</h1>

  <form class="setting__content" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="setting__control">
      <label>Tempo de trabalho:</label>
      <app-minutes-input formControlName="workTime"></app-minutes-input>
    </div>

    <div class="setting__control">
      <label>Tempo de descanso:</label>
        <app-minutes-input formControlName="restTime"></app-minutes-input>
    </div>

    <div class="setting__control">
      <label>Som da notificação:</label>
      <app-sound-input formControlName="sound"></app-sound-input>
    </div>

    <button class="setting__submit">Salvar</button>
  </form>
</div>
